
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{{host}}}/stylesheets/style.css">
    <script src="{{{host}}}/javascripts/jquery-1.8.3.js"></script>
    <script src="{{{host}}}/javascripts/activity_list.js"></script>
</head>

<body>

<h3>Activity</h3>

<div class="j-activity-container">
</div>

<div class="j-activity-row template">
    <div class="j-activity-content"></div>
    <br>
    <b>Comments</b>
    <button class="btn_add_comment">Add</button>
    <ul class="j-activity-comments"></ul>
</div>

<li class="j-comment-row template">
    <div class="j-comment-content"></div>
</li>

</body>
</html>
