
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{{host}}}/stylesheets/style.css">
    <script src="{{{host}}}/javascripts/jquery-1.8.3.js"></script>
    <script src="{{{host}}}/javascripts/task_manage.js"></script>
</head>

<body>

<h3>Place</h3>
<select id="fld_place">
</select>

<h3>Tasks</h3>

<button id="btn_add_task">Add</button>

<div id="j-task-list">
    <ul class="j-task-list"></ul>
</div>

<li class="j-task-row template">
    <span class="j-task-controls"></span>
    <div class="j-task-description"></div>
</li>

<span class="j-task-control template">(<span class="j-task-control-label"></span>)</span>

</body>
</html>
